@import '../style/base/base.scss';

swiper{
  height: 84px;
}

.form_journey{
  width: 100%;
  height: 1px;
  background: #FFFFFF;
  border-radius: 15px 15px 0 0;
  position: fixed;
  bottom: 0;
  opacity: 0;
  z-index: 999999;
  border-top: 1px solid #EDEDF0;
  .select_identity{
    font-size: 16px;
    color: #888888;
    display: flex;
    border-bottom: 1px solid #EDEDF0;
    justify-content: space-around;
    >view{
      padding: 7px 0 10px 0;
      border-bottom: 3px solid #ffffff;
    }
    .select_identity_active{
      border-bottom: 3px solid #383838;
      color: #383838;
    }
  }

/*  .select_destination{
    display: flex;
    align-items: center;
    color: #888888;
    font-size: 13px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 10px;
    >view:nth-of-type(1){
      flex: 4;
    }
    >view:nth-of-type(2){
      flex: 2;
    }
    >view:nth-of-type(3){
      flex: 4;
    }
  }*/
  .select_multiSelect{
    /*display: flex;
    align-items: center;*/
    /*justify-content: space-around;*/
    overflow: hidden;
    .select_tiem{
      /*flex: 1;*/
      width: 49.5%;
      float: left;
      border-right: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 15px 0px;
      .icon{
        margin-right: 10px;
        flex: 4;
        image{
          display: block;
          width: 32px;
          height: 32px;
          float: right;
        }
      }
      .common_select{
        flex: 6;
        font-size: 13px;
        color: #888888;
        .time{
          color: #383838;
          font-weight: 600;
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .select_tiem_noBorder{
      border-right: none;
    }
  }
  .commit_journey{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 65px;
    font-size: 16px;
    margin-bottom: 10px;
    .call_off{
      flex: 3;
      border: 1px solid #383838;
      color: #383838;
      border-radius: 15px;
      padding: 10px 15px;
      text-align: center;
      margin: 0 15px;
      margin-right: 0;
    }
    .affirm{
      flex: 7;
      background: #383838;
      border-radius: 15px;
      color: #ffffff;
      text-align: center;
      padding: 10px 15px;
      margin: 0 15px;
    }
  }
}

.code_journey_info{
  width: 100%;
  .code_journey_title{
    padding: 15px;
    font-size: 18px;
    color: #2E2E2E;
    font-weight: 600;
    border-bottom: 1px solid #EDEDED;
    text-align: center;
    >text{
      font-weight: normal;
      color: #888888;
      border: 1px solid #888888;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 8px;
      margin-left: 8px;
      display: inline-block;
    }
  }
  .navigation{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    border-bottom: 1px solid #EDEDED;
    >view{
      flex: 5;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      .nav_img{
        width: 28px;
        height: 28px;
        background: #cccccc;
        margin-right: 10px;
        >image{
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .nav_info{
        font-size: 16px;
        color: #383838;
        font-weight: 600;
        white-space: nowrap;
        .nav_loaction{
          font-size: 13px;
          color: #888888;
          font-weight: normal;
        }
      }
    }
    .navigation_up{
      border-right: 1px solid #EDEDED;
    }
  }
  .car_master{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 15px;
    .car_master_info{
      flex: 7;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .car_img{
        width: 70px;
        height: 70px;
        margin-right: 10px;
        >image{
          width: 100%;
          height: 100%;
          display: block;
          background: #cccccc;
          border-radius: 50%;
        }
      }
      .car_news{
        flex: 3;
        .car_master_name{
          font-size: 17px;
          color: #383838;
          >text{
            font-size: 10px;
            color: #888888;
            margin-left: 10px;
          }
        }
        .car_master_code{
          font-size: 10px;
          color: #888888;
          margin-top: 8px;
          >text{
            padding: 5px 10px;
            border-radius: 8px;
            background: #F2F2F2;
            color: #383838;
            font-size: 13px;
            margin-right: 8px;
          }
        }
      }
    }
    .car_timeAndPhone{
      color: #383838;
      font-size: 17px;
      >view:first-child{
        text-align: right;
      }
      >view:last-child{
        border: 1px solid #888888;
        padding: 0 15px;
        font-size: 14px;
        color: #888888;
        border-radius: 8px;
      }
    }
  }
  .car_passenger{
    overflow: hidden;
    margin:0 15px;
    .car_passenger_img{
      width: 60px;
      height: 60px;
      margin-right: 15px;
      float: left;
      >image{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
      }
    }
    .car_passenger_img:last-child{
      margin-right: 0;
    }
  }
}

.car_foot_btn{
  width: 100%;
  position: absolute;
  bottom: -55px;
  color: #ffffff;
  .baoqilai{
    background: #383838;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 15px;
    border-radius: 15px;
    >view{
      padding: 10px 0;
    }
  }
}

.tab_index{
  width: 100%;
  height: 100%;
  background: #F6F5EA;
  overflow: hidden;
  .index_common{
      width: 80%;
      height: 45px;
      margin: 0 auto;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 15px 20px;
      background: #ffffff;
      border-radius: 10px;
      border: 1px solid #EDEDED;
      z-index: 999;
  }
  .selct_work_home{
    font-size: 19px;
    font-weight: 600;
    color: #2e2e2e;
    .select{
      display: flex;
      align-items: center;
      >image{
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
      }
    }
  }
  .journey_list{
    .journey_img{
      flex: 2;
      image{
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }
    .journey_news{
      flex: 8;
      .journey_title{
        font-size: 15px;
        width: 150px;
        color: #2e2e2e;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .journey_info{
        font-size: 10px;
        color: #888888;
        width: 170px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .car_name{
          font-size: 13px;
          margin-right: 5px;
          display: block;
          line-height: 15px;
          float: left;
        }
        .car_code{
          color: #ffffff;
          margin-right: 3px;
          padding: 0px 5px;
          border-radius: 5px;
          display: inline-block;
          background: linear-gradient(to right, #00C6FF , #4287FF);
        }
      }
    }
  }
}

.wx-swiper-dot{
  width: 5px !important;
  height: 5px !important;
}

.match{
  width: 100%;
  height: 100%;
  position: relative;
  .match_switch{
    border-bottom: 1px solid #DADDE2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-size: 13px;
    color: #737373;
    padding-bottom: 0px;
    >view{
      border-bottom: 3px solid #ffffff;
      padding-bottom: 10px;
    }
  }
  .watch_switch_active{
    color: #484848;
    border-bottom: 3px solid #000000 !important;
  }
  .search_match{
    text-align: center;
    .loading_img{
      width: 100%;
      height: 50px;
      padding: 30px 0 20px 0;
      >image{
        width: 50px;
        height: 50px;
        display: blcok;
        margin: 0 auto;
      }
    }
    .loading_text{
      font-size: 17px;
      color: #484848;
      font-weight: 600;
    }
    .watch_time{
      font-size: 13px;
      color: #737373;
      margin-top: 5px;
    }
  }
  .share_It{
    width: 100%;
    position: absolute;
    bottom: 0;
    .share_btn{
      margin: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: #484848;
      background: #ffffff;
      border-radius: 10px;
      border: 1px solid #DADDE2;
      >image{
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 8px;
      }
    }
  }
  .car_acroll{
    width: 100%;
    .car_list{
      width: 80px;
      height: 80px;
      margin: 15px;
      display: inline-block;
      opacity: 0.8;
      margin-bottom: 22px;
      >image{
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 15px;
        /*overflow: visible;*/
        box-shadow: 0px 0px 3px #000000;
      }
    }
    .car_list_active{
      width: 100px;
      height: 100px;
      opacity: 1;
      margin-bottom: 15px;
    }
    .car_info{
      padding: 15px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      .car_info_left{
        .match_car_name{
          display: flex;
          align-items: center;
          .match_name{
            font-size: 20px;
            color: #484848;
            margin-right: 3px;
          }
          .match_old{
            background: #9AD3FF;
            color: #ffffff;
            font-size: 10px;
            padding: 0 10px;
            border-radius: 10px;
            margin-right: 3px;
          }
          .match_time{
            font-size: 10px;
            color: #737373;
          }
        }
        .match_car_code{
          border-radius: 8px;
           background: linear-gradient(to right, #00C6FF , #4287FF);
           font-size: 13px;
           color: #ffffff;
           width: 125px;
           text-align: center;
           >text{
            font-size: 13px;
           }
        }
        .ride_number{
          color: #737373;
          font-size: 10px;
          display: flex;
          align-items: center;
          .setas_people{
            color: #484848;
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
      .car_info_right{
        .match_time{
          font-size: 17px;
          color: #484848;
          text-align: right;
        }
        .match_seats{
          display: flex;
          align-items: center;
          margin-top: 5px;
          >view{
            font-size: 10px;
            margin-right: 5px;
          }
          .match_seats_img{
            width: 20px;
            height: 20px;
            >image{
              width: 100%;
              height: 100%;
              display: block;
              border-radius: 50%;
            }
          }
          >view:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .match_car_btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    .match_car_share, .match_car_phone{
      width: 50px;
      height: 50px;
      >image{
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .match_car_submit{
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      background: #484848;
      border-radius: 8px;
      height: 50px;
      line-height: 50px;
      padding: 0 50px
    }
  }
}
button::after{
  border: none;
}