.header{
	display: flex;
	justify-content: space-between;
	.mine_img{
		>image{
			width: 100px;
			height: 100px;
			background: #cccccc;
			border-radius: 10px;
		}
	}
	.mine_info{
		.mine_btn{
			display: flex;
			align-items: center;
			text-align: center;
			>view{
				padding: 3px 10px;
				border-radius: 8px;
				border: 1px solid #DADDE2;
				font-size: 13px;
				color: #484848;
				font-weight: 600;
			}
			>view:first-child{
				margin-right: 8px;
			}
		}
		.mine_history{
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin-top: 15px;
			.history_list{
				font-size: 13px;
				color: #737373;
				>view:first-child{
					font-size: 20px;
					font-weight: 600;
					color: #484848;
				}
			}
		}
	}
}
.mine_details{
	/*position: relative;*/
	.mine_name{
		font-size: 12px;
		color: #737373;
		>text{
			font-size: 20px;
			font-weight: 600;
			color: #484848;
			margin-right: 5px;
		}
	}
	.mine_sex{
		background: #73C2FF;
		font-size: 10px;
		color: #ffffff;
		padding: 0 5px;
		border-radius: 10px;
		/*position: absolute;*/
		float: left;
		margin-top: -3px;
	}
}

.switch{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #e1e1e1;
	box-shadow: 0px 2px 1px #cccccc;
	.switch_list{
		padding: 10px 0;
		border-bottom: 2px solid #ffffff;
		font-size: 16px;
		color: #737373;
	}
	.switch_list_active{
		border-bottom: 2px solid #484848 !important;
		color: #484848;
	}
}

.content{
	background: #F7F6F6;
	.stroke_list{
		background: #ffffff; 
		border-radius: 10px;
		box-shadow: 0 2px 3px #cccccc;
		margin-bottom: 15px;
		.list_header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			border-bottom: 1px solid #e1e1e1;
			.stroke_title{
				font-size: 16px;
				color: #484848;
				font-weight: 600;
			}
			.stroke_type{
				font-size: 13px;
				border-radius: 8px;
				padding: 3px 10px;
				>image{
					display: block;
					width: 40px;
					height: 40px;
					background: #cccccc;
					border-radius: 50%;
				}
			}
		}
		.list_content{
			padding: 15px;
			.list_location{
				font-size: 13px;
				color: #737373;
				display: flex;
				align-items: center;
				.loc_style_up{
					width: 8px;
					height: 8px;
					border-radius: 8px;
					background: #cccccc;
				}
				.loc_style_down{
					width: 8px;
					height: 8px;
					border-radius: 8px;
					background: #cccccc;
				}
				.loc_address{
					margin-left: 5px;
					>text{
						font-size: 10px;
					}
				}
			}
		}
		.list_foot{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.ride_number, .payment{
				display: flex;
				align-items: center;
				>view:first-child{
					font-size: 10px;
					color: #737373;
					margin-right: 5px;
				}
				>view:last-child{
					font-size: 17px;
					color: #484848;
					font-weight: 600;
				}
				.number_img{
					display: flex;
					align-items: center;
					>image{
						width: 20px;
						height: 20px;
						margin-right: 10px;
						display: block;
						background: #cccccc;
						border-radius: 100%;
					}
				}
			}
		}
	}
}

.paid{
	border: 1px solid #73C2FF;
	color: #73C2FF;
}

.unpaid{
	background: #73C2FF;
	color: #ffffff;
}

.look_at_the_way{
	border: 1px solid rgb(255, 202, 115);
	color: rgb(255, 202, 115);
}

.over{
	border: 1px solid rgb(208, 2, 27);
	color: rgb(208, 2, 27);
}